@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-pink: #FF4365;
  --primary-yellow: #F9C80E;
}
body{
  font-family: "Roboto-Condensed: sans-serif";

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*nav links */
nav a.nav-link, a.nav-item{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-pink) !important;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  margin-left: .75rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover{
  
  text-shadow: 0.05rem 0.05rem var(--primary-yellow);
}

.navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-yellow);
}
