@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
  --primary-pink: #FF4365;
  --primary-yellow: #F9C80E;
}

body{
  font-family: "Roboto-Condensed", sans-serif !important;
  background-image: linear-gradient(to bottom,
   #584692 70%,  #261447 100%);
  background-clip: content-box, padding-box;

}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  z-index: 2;
}

/*nav links */
nav a.nav-link, a.nav-item{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-pink) !important;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  margin-left: .75rem;
  font-family: 'Permanent Marker', cursive;
  color: var(--primary-yellow) !important;
  text-shadow: 0.15rem 0.15rem var(--primary-pink);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover{
  
  text-shadow: 0.05rem 0.05rem var(--primary-yellow);
  transition: .2s ease-in-out;
}

.navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-yellow);
}


/*Header*/
.header-wrapper{
  position: relative;
  background: url(wallpaperflare.com_wallpaper.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  box-shadow: 0 0 20px 30px  #584692 inset;
}

.main-info{
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-yellow) !important;
  font-size: 6rem;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 3;
}

/*Typed text*/
.typed-text{
  font-size: 2rem;
  color: var(--primary-pink);
  font-family: 'Staatliches', cursive;
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 2rem;
  }
  .main-info{
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size: 1.5rem !important;
  }
  .btn-contact{
    font-size: 1rem !important;
  }
}

/*Contact button*/
.btn-contact{
  border: 2px solid var(--primary-yellow);
  font-size: 2rem;
  padding: 10px 12px 12px 12px;
  color: var(--primary-yellow);
  text-decoration: none;
  margin: 2rem;
  
}

.btn-contact:hover{
  text-shadow: 0.1rem 0.1rem var(--primary-pink);
  box-shadow: 0.1rem 0.1rem var(--primary-pink);
  color: var(--primary-yellow) !important;
  
}

/*Particles*/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/*About me*/
.container{
  font-family: 'Permanent Marker', cursive;
  color: var(--primary-pink);
}

.container h1{
  text-shadow: 0.1rem 0.1rem var(--primary-yellow);
}


.photo-wrap{
  display:flex;
  justify-content: center;
  align-items: center;
}
.photo-wrap p{
  padding: 10px;
}
.profileimg{
  width:16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 2px solid var(--primary-pink);
  box-shadow: 0.1rem 0.1rem var(--primary-yellow);
}

@media(max-width: 468px){
  .profileimg{
    width: 10rem;

  }
}